@tailwind base;
@tailwind components;
@tailwind utilities;

/*
body {
  font-size: 16px;
  color: #999;
  margin: 5px;  
}
*/
.text-color {
  color: #999;
}
.h1-color {
  color: #f6f6f6;
}
.footer-color {
  color: #ccc;
}
/*
h1 {
  text-align: right;
  color: #f6f6f6;
  margin: 10px 0px -30px 0px;
  letter-spacing: -4pt;
}
*/
/*
ul {
  font-size: 12pt;
  list-style: none;
}
*/

hr {
  //margin: 25px 100px; 
  margin: 25px auto;
  border-top: 1px dashed #ddd;
  width: 80%;
}

/*
.menutitle {
  font-size: 14pt;
  font-weight: bold;
  margin: 0px;
}
*/
/*
.content {
  margin: 10px;
  width: 100%;
}
*/
/*
.footer {
  text-align: right;
  font-size: 10pt;
  margin: 10px;
  border-bottom: solid 1px #ccc;
  color: #ccc;
}
*/

input {
  margin: 10px;
  border: 1px solid black;  
}

.create input,  {
  width: 100%;  
}

/* FORM */
/*
.form-menu {
  display: flex;
  margin-right: 100px;
  margin-left: 100px;  
  margin-bottom:20px;
}
*/

button {
  border-radius: 8px;  
  width:75px;
  height: 30px;
  border: 1px solid aqua;
  margin-right: 10px;    
}
/*
.form-btn {
  display: flex;
  margin-right: 500px;
  margin-left: 10px;  
  margin-bottom:20px;
}
*/

dd input {
  width: 250px;
  border: none;
}

/*
dd textarea {
  border: solid;
}
*/
/*
.password-list {  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
*/